.SomeDiv{
    position: relative;
    margin: 10px;
    pointer-events: none;
}

.ScrollPilotProviderModule{
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    height: 300px;
}
    .ItemContainer{
        border: 2px solid var(--edge);
        border-left-width: 5px;
        border-right-width: 5px;
        display: flex;
        flex-direction: row;
        width: 250px;
        height: 250px;
        align-items: center;
        justify-content: space-around;

        margin: 10px;
        position: absolute;
        top: 0px;
    }
        .ItemProvider{
            border: 2px solid var(--edge);
            border-left-width: 5px;
            border-right-width: 5px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .ItemProvider:hover{
            border-color: var(--theme);
        }
        .ItemProviderActive{
            z-index: 9;
            border-color: var(--off-white);
            color: rgba(0,0,0,0);
            pointer-events: none;
        }

.ScrollPilotModule{
    border: 2px solid rgba(0,0,0,0);
    border-left-width: 5px;
    border-right-width: 5px;
    width: 250px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SomeContent{
    min-width: 50px;
    min-height: 50px;
    border: 1px solid var(--dark);
    background-color: var(--edge);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;    
}
.AlignForCoefficient{
    position: relative;
    left: -84px;
}
.AlignForExponent{
    position: relative;
    left: 84px;
}

.HighlightBox{
    border-top: 2px hidden var(--off-white);
    border-bottom: 2px hidden var(--off-white);
    position: absolute;
    top: 98px;
    left: 5px;
    width: 250px;
    min-height: 50px;
    pointer-events: none;
}

.ScrollButtonContainer{
    pointer-events: none;
    position: absolute;
    width: 50px;
    height: 250px;
    top: 1px;
    left: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.AlignScrollButtonForCoefficient{
    left: 21px;
}
.AlignScrollButtonForExponent{
    left: 189px;
}
.ScrollButton{
    pointer-events: all;
    border: 1.5px solid var(--dark);
    background-color: var(--dark);
    color: var(--off-white);
    margin: 5px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.ScrollButton:hover{
    border: 1.5px solid var(--off-white);
    color: var(--off-white);
    cursor: pointer;
}