/* --- Foundations --- */
.TermEditorModule{
    border: 2px solid var(--edge);
    border-left-width: 5px;
    border-right-width: 5px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ---^--- */


/* --- DisplayOption --- */
.ScrollSelectionMenu{ /* width and height is 250px */
    position: absolute;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    overflow-y: scroll;
    height: 250px;
    display: flex;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.ScrollSelectionMenu::-webkit-scrollbar{
    display: none; /* Chrome, Safari, and Opera */
}

.AlignForCoefficient{
    left: 40px;
}
.AlignForVariable{
    left: 100px;
}
.AlignForExponent{
    left: 160px;
}
/* ---^--- */


/* --- DisplayTerm --- */
.DisplayTerm{
    display: flex;
    justify-content: center;
}
/* ---^--- */

/* --- TermEditorWindow Z-stack its children: TermSelectionPanel and SelectionMenu --- */
.TermEditorWindow{ /* 250 by 250 px*/
    position: relative;
    border: 2px solid var(--edge);
    background-color: var(--void);
    border-left-width: 5px;
    border-right-width: 5px;
    width: 250px;
    height: 250px;
}
    .TermSelectionPanel{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 250px;
        position: relative;
    }
    .SelectionMenu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        z-index: 1;
    }
        .ExpressionBox{
            margin: 5px;
            border: 2px solid var(--edge);
            background-color: var(--void);
            border-left-width: 5px;
            border-right-width: 5px;
            color: var(--white);
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Noticia Text';
            font-size: 25px;
            cursor: pointer;
        }
        .ExpressionBox:hover,
        .ActiveExpressionBox{
            border-color: var(--theme);
            color: var(--theme);
        }
/* ---^--- */

/* --- CloseSelectionMenuButton --- */
.CloseSelectionMenuButton{
    margin: 10px;
    width: 100px;
    padding: 10px;
    border: 2px solid var(--edge);
    border-left-width: 5px;
    border-right-width: 5px;
    background-color: var(--dark);
    color: var(--white);
    font-family: 'Noticia Text';
}
.CloseSelectionMenuButton:hover{
    border-color: var(--theme);
    color: var(--theme);
}
.DisabedCloseSelectionMenuButton{
    margin: 10px;
    width: 100px;
    padding: 10px;
    border: 2px solid var(--edge);
    border-left-width: 5px;
    border-right-width: 5px;
    background-color: var(--dark);
    color: var(--edge);
    font-family: 'Noticia Text';
}
/* ---^--- */