:root {
    --theme: rgb(215, 55, 55);
    --complementary: rgb(105, 95, 185);
    --dark: rgb(33,31,35);
    --edge: rgb(60,58,62);
    --white: rgb(210, 200, 200);
    --off-white: rgb(245, 190, 175);

    --theme-font: 'Ewert', cursive;
}